dozer-soapjaxb/src/main/resources/xsd/SOAPTestSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="arg0">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="accountName"/>
        <xs:element type="xs:byte" name="branchCode"/>
        <xs:element type="xs:string" name="sourceCode"/>
        <xs:element type="xs:string" name="swiftCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

