dotnetClient_camelcxf/src/main/resources/DataSets/GetXMLResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.testwsdl.net/">	
	<xsd:element name="GetXMLResult">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="sqltoken"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="sqlquery"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
</xsd:schema>
	
	